
/* Temporary CSS - Will replace with SCSS and Styled Components */

body {
    width: 100%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.wrap {
    display: inline-flex;
}

#header {
    background-color: lightblue;
    height: 400px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    padding-top: 60px;
}

.left-sidebar {
    position: relative;
    width: 220px;
}

.right-grid {
    position: relative;
    margin-left: 20px;
    margin: 0 auto;
}


/* Data Section */

.card {
    width: 24%;
    margin-right: 5px;
    margin-top: 10px;
    font-size: 13px;
    height: auto;
}

.search-icon {
	position: absolute;
    font-size: 18px;
    color: #555;
    /* color: #0066FF; */
    left: 12px;
    top: 14px;
}

#search-input {
    width: 730px;
    padding: 10px;
    padding-left: 40px;
}

::placeholder {
    padding-left: 10px;
    opacity: 1; /* Firefox */
  }


  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 30px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    padding-left: 30px;
  }

  ul {
    list-style-type: none;
  }

  /* Pagination */




/* Left Side Nav */

.radio-wrap {
    display: block;
 margin-bottom: 20px;
}

